/* :root {
  background-color: #0d1117;
  color: #eeeeee;
} */

:root {
  --background-color: #0d1117;
  --background-2: #2f3235;
  --background-border: #222222;
  --background-code: #2f3136;
  --color: #eeeeee;
  --primary: #eeeeee;
  --secondary: #de9151;
  --text-secondary: #ffffff;
  --box-shadow: #5c5959;
  --badge: #7289da;
  --red: #ff0000;
  --yellow: #ffff00;
}

body {
  background-color: var(--background-color);
  color: var(--color);
  font-family: sans-serif;
  margin: 0;
  text-align: center;
  align-items: center;
  line-height: normal;
}

a {
  text-decoration: none;
  color: var(--text-secondary);
  transition: 0.2s color;
}

a:hover {
  color: var(--primary);
  cursor: pointer;
}

.atag {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: var(--background-2);
  border-radius: 3px 0 0 3px;
  color: var(--primary);
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 10px 0 23px;
  position: relative;
  margin-bottom: 3px;
  text-decoration: none;
  transition: color 0.2s;
  -webkit-transition: color 0.2s;
  margin-right: 14px !important;
}

.atag::before {
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: "";
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.atag::after {
  background: transparent !important;
  border-bottom: 13px solid transparent;
  border-left: 10px solid var(--background-2);
  border-top: 13px solid transparent;
  content: "";
  position: absolute;
  right: -10px;
  top: 0;
}

.atag:hover {
  background-color: var(--primary);
  color: #fff;
}

.atag:hover::after {
  border-left-color: var(--primary);
}

.active-navtext {
  color: var(--primary) !important;
}

.arrow {
  color: black;
  border: 5px solid rgba(0, 0, 0, 0);
  position: relative;
  height: 20px;
}

#login {
  top: auto;
  right: 0;
  padding: 13px;
}

#content {
  margin-top: 130px;
  width: 100%;
}

.header {
  text-align: center;
}

h1 {
  font-size: 75px;
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 30px;
}

.header p {
  width: 50%;
  min-width: 300px;
  display: block;
  margin: 0 auto;
  color: #cfcfcf;
}

/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: transparent;
  border: 1px solid var(--text-secondary);
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: var(--background-2);
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: var(--background-2);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Cards begin */

.desc {
  min-height: 130px;
}

.title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/*[Custom Scroll Bar]*/
::-webkit-scrollbar {
  background: rgba(42, 5, 78, 0.342);
  width: 5px;
  z-index: 11;
}
::-webkit-scrollbar-corner {
  background: rgba(42, 5, 78, 0.342);
}
::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 5px;
  z-index: 11;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(204, 204, 204);
}

#cards {
  text-align: center;
}

.card {
  padding: 20px;
  border-radius: 35px;
  height: 395px;
  box-shadow: 0 0 4px 0.5px var(--text-secondary);
  margin: 20px;
  display: flex;
  display: inline-block;
  width: calc(100vw / 4);
  transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s;
}
.card:hover {
  box-shadow: 0 0 12px 0.5px var(--text-secondary);
  transform: translateY(-0.3em);
}
.large {
  height: 395px;
}

.like {
  height: 275px;
  width: 80%;
}

.likes {
  font-size: 0.7em;
  color: var(--color);
  background: var(--background);
  padding: 3px 8px 0 2px;
  margin: 0 10px;
  border-radius: 5px;
  bottom: 0 !important;
}

.small-link {
  padding: 5px;
  margin: 0 5px;
}

.small-link:after {
  content: "•";
  position: relative;
  left: 10px;
}

.small-link:hover:after {
  color: var(--text-secondary);
}

.small-link:last-child:after {
  content: "";
}

.fa-heart {
  padding: 0 5px;
}

.icon {
  display: block;
  margin: 0 auto;
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0 0 4px 0.5px var(--text-secondary);
}

.card a {
  position: relative;
  bottom: 15px;
}

#loading {
  display: block;
  text-align: center;
  width: 100%;
  position: absolute;
  margin: 0 auto;
}

.nsfw {
  filter: blur(12px);
  transition: 0.5s filter;
}

.nsfw:hover {
  filter: blur(0);
}

.search {
  height: 26px;
  margin: 0 60px 15px 15px;
  position: relative;
  float: right;
}

.search img {
  position: relative;
  top: -4px;
}

#search {
  padding: 0 5px;
  margin-top: 13px;
  display: inline-block;
}

[contenteditable="true"]:empty:before {
  content: attr(placeholder);
  display: block;
}

#img-holder {
  float: left;
  border-radius: 20px;
  width: 250px;
  margin: 0 50px;
  background-color: var(--background-2);
}

.right {
  color: var(--text-secondary);
  width: min-content;
  float: left;
}

#bot-icon {
  border-radius: 20px;
}

#botprefix {
  text-align: center;
}

#botprefix:before {
  content: "Prefix: ";
}

#long {
  display: block;
  width: calc(100% - 116px);
  background-color: var(--background-2);
  word-wrap: break-word;
  padding: 1px 15px;
  margin: 80px 50px;
  float: left;
}

.isurl {
  padding: 15px !important;
}

#url-embed {
  width: 100%;
  height: 80vh;
  border: none;
}

#owners {
  display: flex;
  justify-content: center;
  float: left;
  width: 100%;
}

.owner {
  display: inline-block;
  height: 30px;
  padding: 5px 10px;
  border-radius: 50px;
  margin: 15px;
  background-color: var(--badge);
}

.owner img {
  border-radius: 50%;
  font-size: 20px;
  margin-right: 5px;
}

code {
  padding: 2px 5px;
  color: #ff5252;
  background-color: #252323;
}

#searchMore {
  text-align: center;
  display: none;
}

.searchbar-holder {
  text-align: center;
  display: block;
  margin: auto;
}

.button::after {
  height: 100%;
  left: -36%;
  top: 0;
  width: 0;
  transform: skew(50deg);
  transform-origin: top left;
  transition: all 400ms ease;
}

.button:hover::after {
  height: 100%;
  width: 136%;
}

.button {
  overflow: hidden;
  font-size: 14px;
  padding: 15px 20px;
  margin-right: 12px;
  border: 2px solid;
  text-decoration: none;
  font-weight: 500;
  position: relative;
  background: transparent;
  text-transform: uppercase;
  transition: all 400ms ease;
  cursor: pointer;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.26);
  color: var(--primary);
  border-color: var(--primary);
  border-radius: 15px;
  display: block;
  margin: 8px auto;
  text-align: center;
  width: 25%;
}

.small {
  width: 20%;
}

.button::before,
.button::after {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--primary);
}

.button:hover {
  color: var(--box-shadow);
}

.mini-btn {
  display: inline-block;
  margin: 0 10px;
}

.dd-content {
  display: none;
  margin-top: -9px;
  padding: 10px 30px;
  position: absolute;
  right: 0;
  z-index: 0;
  background-color: var(--background-color);
}

.dd-content:hover {
  display: block;
}

.input-holder {
  position: relative;
  width: 90%;
  display: block;
  margin: 0 auto;
}

.input {
  height: 28px;
  font-size: 16px;
  padding: 13px 15px;
  border-radius: 4px;
  border: 1px solid var(--text-secondary);
  width: calc(100% - 30px);
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  color: var(--color);
  box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0) inset;
  transition: all 600ms ease;
}

.input:not(:placeholder-shown).input:not(:focus) + .placeholder {
  transform: scale(0.75) translateY(-39px) translateX(-5px);
  color: var(--text-secondary);
  z-index: 10 !important;
}

.input:focus {
  border-color: var(--primary);
}

.input:focus + .placeholder {
  transform: scale(0.75) translateY(-39px) translateX(-5px);
  color: var(--primary);
  z-index: 10 !important;
}

.xinput:focus + .placeholder {
  transform: scale(0.75) translateY(-39px) translateX(-35px);
  color: var(--primary);
  z-index: 10 !important;
}

.xinput:focus + .placeholder:after {
  content: " separated by spaces";
}

.placeholder {
  position: absolute;
  top: 17px;
  left: 8px;
  font-size: 15px;
  padding: 0 8px;
  background-color: var(--background-color);
  transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 150ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--text-secondary);
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  z-index: -2;
}

textarea:focus + .textarea-placeholder {
  color: var(--primary);
}

textarea {
  height: auto !important;
  resize: none;
}

.textarea-placeholder {
  position: absolute;
  top: -8px;
  left: 8px;
  font-size: 11.25px;
  color: var(--text-secondary);
  padding: 0 8px;
  background-color: var(--background-color);
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  z-index: 10;
  transition: all 400ms ease;
}

hr {
  width: 80%;
  height: 2px;
  color: var(--text-secondary);
  background-color: var(--text-secondary);
  margin-bottom: 20px;
  border: none;
}

.center {
  text-align: center;
  margin: 0 auto;
  display: block;
  width: 100%;
}

.center-inline {
  text-align: center;
  display: inline-block !important;
  width: auto;
}

.half {
  width: calc(40% - 30px);
  margin-top: 0;
}

.half-left {
  float: left;
  margin-left: 3%;
}

.half-right {
  float: right;
  margin-right: 3%;
}

.button-red {
  color: var(--red);
  border-color: var(--red);
}

.button-red:after {
  background: var(--red) !important;
}

.button-yellow {
  color: var(--yellow);
  border-color: var(--yellow);
}

.button-yellow:after {
  background: var(--yellow) !important;
}

.modal {
  background: var(--background-color) !important;
  color: var(--color) !important;
}

.small-holder {
  margin: 0;
  max-width: none;
  width: 90%;
}

.highlight {
  text-shadow: 2px 2px 4px #050500;
}

.badge {
  display: inline-block;
  padding: 7px;
}

.badge:hover {
  cursor: pointer;
}

.smallwidth {
  text-align: justify;
  width: 70%;
  margin: auto;
}

.bot-btns {
  display: inline-block;
  margin-right: 20px;
  width: 100px;
}

textarea.cke_source {
  height: 100% !important;
}

.cke_editor_longdesc {
  border: 1px solid var(--text-secondary) !important;
  border-radius: 4px !important;
  padding: 1px !important;
}

a {
  outline: 0;
}

.servers {
  display: inline;
  margin-left: 10px;
  background-color: var(--background);
  padding: 5px 10px;
  border-radius: 10px;
}

.summary {
  min-width: 600px;
  margin: 10px 0;
}

.sts {
  opacity: 0.5;
}

.sts span {
  margin-left: 10px;
  display: inline-block;
  text-transform: capitalize;
}

.online i {
  color: #32ff00;
}
.idle i {
  color: #ffaa00;
}
.dnd i {
  color: #ff0000;
}
.offline i {
  color: #8c8c8c;
}

.main-section {
  width: 75%;
  float: right;
}

.section {
  display: none;
  align-items: center;
}

#edit {
  display: block;
}

.sidebar {
  width: calc(25% - 70px);
  margin: 0 30px;
  float: left;
  border-radius: 20px;
}

.sidebar .link {
  display: block;
  padding: 10px 20px;
  margin: 0;
  border: 1px solid var(--text-secondary);
  border-bottom: 0;
  background-color: none;
  transition: 200ms ease all;
}

.sidebar .link:hover {
  background-color: var(--background-2) !important;
}

.sidebar .link:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.sidebar .link:last-child {
  border: 1px solid var(--text-secondary);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.more-padding {
  padding: 0 60px;
  width: calc(100% - 120px);
}

.tags {
  list-style: none;
  margin: 20px 0 0;
  overflow: hidden;
  padding: 0;
}

.tags li {
  float: left;
}

.bot-tag {
  background: var(--background-2);
  border-radius: 3px 0 0 3px;
  color: var(--color);
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  transition: 400ms ease all;
}

.bot-tag::before {
  background: var(--background-2);
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: "";
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
  transition: 400ms ease all;
}

.bot-tag::after {
  background: var(--background-color);
  border-bottom: 13px solid transparent;
  border-left: 10px solid var(--background-2);
  border-top: 13px solid transparent;
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  transition: 400ms ease all;
}

.bot-tag:hover {
  background-color: var(--primary);
  color: var(--background-color);
}

.bot-tag:hover::after {
  border-left-color: var(--primary);
}

.capitalise {
  text-transform: capitalize;
}

.verified {
  position: relative;
  display: inline-block;
  margin-left: 10px;
  font-size: 0.7em;
  border-radius: 50%;
  border: 1px solid var(--primary);
  padding: 5px;
}

.verified .verified_tooltip {
  opacity: 0;
  width: 120px;
  background-color: var(--background-2);
  color: var(--color);
  text-align: center;
  border-radius: 6px;
  font-weight: normal;
  font-family: "Hind", Arial, sans-serif;
  padding: 7px 0 5px;
  position: absolute;
  bottom: calc(100% + 10px);
  left: -175%;
  z-index: 1;
  transition: 400ms ease opacity;
}

.verified .verified_tooltip::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--background-2) transparent transparent transparent;
}

.verified:hover .verified_tooltip {
  opacity: 1;
}

.verified:hover {
  cursor: pointer;
}

.tag {
  position: relative;
  top: -10px;
}

@media (max-width: 1000px) {
  .right {
    margin: 0 auto;
    width: 80%;
    float: none;
    text-align: center;
  }

  #img-holder {
    float: none;
    margin: 50px auto;
  }

  .summary {
    min-width: auto;
  }
}

@media only screen and (max-width: 900px) {
  .half-left {
    margin-left: 0;
  }

  .half-right {
    margin-left: 0;
  }

  .half:after {
    left: -50%;
  }

  .card,
  .button {
    width: calc(100% - 80px);
  }

  .half:hover:after {
    width: 150%;
  }

  .smallwidth {
    width: 85%;
  }
}

@media only screen and (max-width: 768px) {
  #navTop {
    margin: 30px 10px;
    width: calc(100% - 20px);
  }
  .arrow {
    visibility: hidden;
  }
  .search {
    margin-bottom: 0;
  }

  .buttons-case {
    float: left;
    margin: 0 0 0 50px;
    width: calc(100% - 50px);
  }

  .summary {
    max-width: 100%;
  }

  #long {
    float: left;
    width: calc(100% - 120px);
  }

  .half {
    width: calc(50% - 70px);
    margin-top: auto;
  }

  .half-left {
    margin-left: 18px;
  }

  .half-right {
    margin-right: 18px;
  }

  .search {
    display: none;
  }

  h2 {
    display: block !important;
  }
  .servers {
    display: inline-block;
    margin: 20px 0;
  }

  .sidebar {
    width: calc(100% - 60px);
  }

  .main-section {
    width: 100%;
    margin-top: 40px;
  }
}

@media only screen and (max-width: 500px) {
  .navtag:not(.keep),
  .navtext:not(.keep) {
    display: none;
  }
}

.avatar {
  margin-top: 10%;
  vertical-align: middle;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  filter: drop-shadow(0 4px 5px rgba(0, 0, 0, 0.65));
  animation: pulsePic 2s infinite;
  -webkit-animation: pulsePic 2s infinite;
}

@-webkit-keyframes pulsePic {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(246, 246, 246, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 20px rgba(246, 246, 246, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(246, 246, 246, 0);
  }
}

@keyframes pulsePic {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(246, 246, 246, 0.4);
    box-shadow: 0 0 0 0 rgba(246, 246, 246, 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 20px rgba(246, 246, 246, 0);
    box-shadow: 0 0 0 20px rgba(246, 246, 246, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(246, 246, 246, 0);
    box-shadow: 0 0 0 0 rgba(246, 246, 246, 0);
  }
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tooltip-date {
  position: relative;
  display: inline-block;
  margin-top: 3%;
  transition-duration: 0.15s;
}

.tooltip-date .tooltiptext-date {
  visibility: hidden;
  width: 240px;
  bottom: 180%;
  left: 50%;
  margin-left: -120px;
  background-color: rgb(10, 10, 10);
  color: rgb(223, 223, 223);
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: 0.15s;
}

.tooltip-date .tooltiptext-date::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -7px;
  border-width: 7px;
  border-style: solid;
  border-color: rgb(10, 10, 10) transparent transparent transparent;
}

.tooltip-date:hover .tooltiptext-date {
  opacity: 1;
  visibility: visible;
}
.tooltip {
  position: relative;
  display: inline-block;
  margin-top: 3%;
  transition-duration: 0.2s;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  bottom: 120%;
  left: 50%;
  margin-left: -60px;
  background-color: rgb(10, 10, 10);
  color: rgb(223, 223, 223);
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: 0.2s ease;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -7px;
  border-width: 7px;
  border-style: solid;
  border-color: rgb(10, 10, 10) transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  opacity: 1;
  visibility: visible;
}

.tooltip-expand {
  position: relative;
  display: inline-block;
  margin-top: 3%;
  transition-duration: 0.2s;
}

.tooltip-expand .tooltiptext-expand {
  visibility: hidden;
  width: 180px;
  bottom: 120%;
  left: 50%;
  margin-left: -90px;
  background-color: rgb(10, 10, 10);
  color: rgb(223, 223, 223);
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: 0.2s;
}

.tooltip-expand .tooltiptext-expand::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -7px;
  border-width: 7px;
  border-style: solid;
  border-color: rgb(10, 10, 10) transparent transparent transparent;
}

.tooltip-expand:hover .tooltiptext-expand {
  opacity: 1;
  visibility: visible;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3a3a3a;
  margin-top: 20%;
  align-items: center;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
